<div class="container">
    <div class="text-center"><button type="button" class="btn btn-outline-primary">Resultado</button></div>
    <hr>
  <table class="table table-hover table-responsive table-dark">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Paradero</th>
      <th scope="col">Pasajeros Iniciales</th>
      <th scope="col"># Aleatorios Subir</th>
      <th scope="col">Pasajeros Suben</th>
      <th scope="col"># Aleatorios Bajar</th>
      <th scope="col">Pasajeros Bajan</th>
      <th scope="col">Pasajeros Finales</th>
    </tr>
    </thead>
    <tbody>  
    <tr *ngFor="let x of viajes" class="text-center">
      <td>{{x.parada}}</td>
      <td>{{x.pasajerosIniciales}}</td>
      <td>{{x.aleatorioSubir}}</td>
      <td>{{x.pasajerosSuben}}</td>
      <td>{{x.aleatoriosBajar}}</td>
      <td>{{x.pasajerosBajan}}</td>
      <td>{{x.pasajerosFinales}}</td>
    </tr>
    </tbody>
  </table>
  <hr>
  <h2> Estadisticas Basicas </h2>
  <hr>
  <div class="row">
    <div class="col-sm-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Pasajeros Transportados</div>
            <div class="card-body">
              <h4 class="card-title">Pasajeros movilizados en el trayecto</h4>
              <p class="card-text" style="color: White;">{{pasajTotales}}</p>
              <h4 class="card-title">Pasajeros que llegan a Tebaida</h4>
              <p class="card-text" style="color: White;">{{lleganTebaida}}</p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Dinero Recogido</div>
            <div class="card-body">
              <div *ngFor="let din of dinero">
                  <h4 class="card-title">Obtenido por parada </h4>
                  <p class="card-text" style="color: White;">{{din}}</p>
                  <hr>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Utilidades</div>
            <div class="card-body">
              <h4 class="card-title">Utilidades</h4>
              <p class="card-text"> Asumiendo que cada pasaje pasaje tiene un costo de $ 3.000 
              </p>
              La utilidad es de: <h4 style="color: White;">{{total}}</h4>
            </div>
          </div>
    </div>    
  </div>  
</div>
