<div class="container">
    <div class="text-center"><button type="button" class="btn btn-outline-primary">Iniciar Simulación</button></div>
    <hr>
  <table class="table table-hover table-responsive table-dark">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Paradero</th>
      <th scope="col">Pasajeros Iniciales</th>
      <th scope="col"># Aleatorios Subir</th>
      <th scope="col">Pasajeros Suben</th>
      <th scope="col"># Aleatorios Bajar</th>
      <th scope="col">Pasajeros Bajan</th>
      <th scope="col">Pasajeros Finales</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>  
    <tr *ngFor="let x of viajes" class="text-center">
      <td>{{x.parada}}</td>
      <td>{{x.pasajerosIniciales}}</td>
      <td>{{x.aleatorioSubir}}</td>
      <td>{{x.pasajerosSuben}}</td>
      <td>{{x.aleatoriosBajar}}</td>
      <td>{{x.pasajerosBajan}}</td>
      <td>{{x.pasajerosFinales}}</td>
    </tr>
    </tbody>
  </table>
  <hr>
  <h2> Conclusiones </h2>
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Primary card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
